<?php
$AUTOCONFIG = array (
  'dbtype' => '{{ dbtype }}',
  'dbname' => '{{ dbname }}',
  'dbuser' => '{{ dbuser }}',
  'dbpass' => '{{ dbpass }}',
  'dbhost' => '{{ dbhost }}',
  'dbtableprefix' => 'oc_',
  'adminlogin' => '{{ adminlogin }}',
  'adminpass' => '{{ adminpass }}',
  'directory' => '{{ directory }}',
);
